<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./assets/css/reset.css" />
		<link rel="stylesheet" href="./assets/css/style.css" />

		<script src="./assets/js/index.js"></script>
		<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->

		<title>Marc Fontenelle</title>
	</head>
	<body>
		<div class="container">
			<h1>Formulaire de contact</h1>

			<form id="contact-form">
				<!-- firstname -->
				<input type="text" placeholder="Prénom" id="firstname" />

				<!-- lastname -->
				<input type="text" placeholder="Nom" id="lastname" />

				<!-- email -->
				<input type="email" placeholder="Email" id="email" />

				<!-- subject -->
				<input type="text" placeholder="Sujet" id="subject" />

				<!-- message -->
				<textarea placeholder="Votre message ici..." id="message"></textarea>

				<!-- submit button -->
				<button id="submit-btn">Envoyer le message</button>
			</form>
		</div>
	</body>
</html>
