$layout-width: 1400px;
// $header-width: 1300px;

// Colors
$bg-color: #2a2a2a;
$text-color: #fcf8e8;
$grey: #6d6d6d;

// Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-desktop: 1200px;
$breakpoint-custom: $layout-width;
// $breakpoint-huge: 1440px;
// $breakpoint-insane: 2560px;
