$layout-width: 1400px;
// $header-width: 1300px;

// Colors
$bg-color: #171715;

$text-color: #ffffe3;
$grey: #353535;

// Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-desktop: 1200px;
$breakpoint-custom: $layout-width;
// $breakpoint-huge: 1440px;
// $breakpoint-insane: 2560px;
