.block-content_about {
	margin-top: 10vh;
	color: $text-color;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.5em;
	width: 100%;
	// text-align: justify;
	display: flex;
	justify-content: end;
	@media (min-width: $breakpoint-large) {
		font-size: 16px;
		line-height: 1.7em;
	}
	@media (min-width: $breakpoint-custom) {
		font-size: 18px;
	}

	&.contact {
		margin-top: 0;
		margin-bottom: 2vh;
		justify-content: start;
	}
	.desc-about {
		@media (min-width: $breakpoint-large) {
			width: 70%;
			margin-bottom: 50px;
		}
	}
}
