@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap");
.btn {
  border: 1px solid white;
  background: none;
  color: white;
  border-radius: 50px;
  font-size: 18px;
  padding: 20px 45px;
  text-transform: uppercase;
  margin: 0 auto;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  cursor: pointer;
}
.btn.mb {
  margin-bottom: 15vh;
}
.btn:hover {
  background: #1c1c1c;
}

body {
  background-color: #2a2a2a;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 16px;
}
@media (min-width: 576px) {
  body {
    font-size: 70px;
  }
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 20px;
}

header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 100px;
}
header nav {
  width: 500px;
}
header nav ul {
  display: flex;
  justify-content: space-between;
}
header nav ul li {
  display: flex;
  align-items: center;
}
header nav ul li a {
  font-weight: 600;
  font-size: 16px;
  display: block;
  text-transform: uppercase;
  color: #fcf8e8;
  text-decoration: none;
  letter-spacing: 4px;
  opacity: 0.75;
  position: relative;
  padding: 20px 0px;
}
header nav ul li a:hover {
  opacity: 1;
}
header nav ul li a:hover:before {
  width: 97%;
}
header nav ul li a:before {
  transition: 600ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #fcf8e8;
  width: 0%;
  bottom: 10px;
}

footer nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer nav .nav-gauche {
  width: 20%;
}
footer nav .nav-droite {
  width: 50%;
}
footer nav ul {
  display: flex;
  justify-content: space-between;
}
footer nav ul li {
  display: flex;
  align-items: center;
}
footer nav ul li a {
  font-weight: 600;
  font-size: 16px;
  display: block;
  text-transform: uppercase;
  color: #fcf8e8;
  text-decoration: none;
  letter-spacing: 4px;
  opacity: 0.75;
  position: relative;
  padding: 20px 0px;
}
footer nav ul li a:hover {
  opacity: 1;
}
footer .copyright {
  font-weight: 600;
  font-size: 16px;
  color: #474747;
  display: block;
  text-transform: uppercase;
  margin: 30px 0 20px 0;
  text-decoration: none;
  letter-spacing: 1px;
}

.intro-container {
  display: flex;
  flex-direction: column;
}

.intro {
  position: relative;
}
.intro__bio {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro__bio__title {
  font-size: 85px;
  line-height: 0.9em;
  text-transform: uppercase;
  text-align: left;
  font-weight: 600;
  margin-bottom: 30px;
  color: #fcf8e8;
}
.intro__bio__title span {
  display: block;
}
.intro__bio__photo {
  width: 15vw;
  object-fit: cover;
}
.intro__bandeau-texte {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  bottom: 100px;
  height: 11vh;
  color: #fcf8e8;
}
.intro__bandeau-texte__image {
  width: 60px;
}
.intro__bandeau-texte__bloc-texte {
  color: #fcf8e8;
  width: 35%;
  font-size: 22px;
  line-height: 1.3em;
  font-weight: 500;
  text-transform: uppercase;
}
.intro__bandeau-texte__bloc-texte span {
  display: block;
}
.intro__bandeau-texte__bloc-titre {
  font-weight: 600;
  width: 50%;
  font-size: 75px;
  text-transform: uppercase;
  text-align: right;
  line-height: 0.9em;
}
.intro__bandeau-texte__bloc-titre span {
  display: block;
}

.works-container {
  margin-bottom: 10vh;
}

.title-cat {
  font-size: 70px;
  line-height: 0.9em;
  text-transform: uppercase;
  text-align: left;
  font-weight: 600;
  margin: 25vh 0 10vh 0;
  color: #fcf8e8;
  letter-spacing: 5px;
}

.works {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.works__title {
  margin: 15px 0 10px 0;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.works__desc {
  font-weight: 300;
  font-size: 20px;
}
.works.mt {
  margin-top: 150px;
}
.works__left {
  width: 66%;
  color: white;
}
.decal .works__left {
  margin-top: -200px;
  width: 32%;
}
.works__left img {
  width: 100%;
  height: 470px;
  object-fit: cover;
}
.decal .works__left img {
  height: 450px;
}
.works__right {
  width: 32%;
  color: white;
  text-align: right;
}
.decal .works__right {
  width: 66%;
}
.works__right img {
  width: 100%;
  height: 690px;
  object-fit: cover;
}
.decal .works__right img {
  height: 470px;
}

.block-prefooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fcf8e8;
  align-items: end;
  margin-bottom: 10vh;
}
.block-prefooter .first-block__block-top {
  justify-content: space-between;
  display: flex;
  font-size: 22px;
  line-height: 1.3em;
  font-weight: 500;
  text-transform: uppercase;
}
.block-prefooter .first-block__block-top__first span {
  display: block;
}
.block-prefooter .first-block__block-top__second span {
  display: block;
}
.block-prefooter .first-block__block-mail {
  padding-top: 50px;
  font-weight: 600;
  font-size: 38px;
  text-transform: uppercase;
  text-align: left;
  line-height: 0.9em;
  letter-spacing: 1px;
  cursor: pointer;
}
.block-prefooter .prefooter-arrowtop {
  transform: rotate(180deg);
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input,
textarea {
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  font-size: inherit;
  padding: 5px 10px;
  font-family: inherit;
  font-weight: inherit;
  border: 1px var(--grey) solid;
  border-radius: 6px;
  outline: none;
}

textarea {
  height: 150px;
  padding: 10px 10px;
}

input::placeholder,
textarea::placeholder {
  color: var(--grey);
}

.disabled-btn {
  background-color: var(--grey);
  color: var(--black);
}

.disabled-btn:hover {
  background-color: var(--grey);
  color: var(--black);
}

/*# sourceMappingURL=style.css.map */
